/* You can add global styles to this file, and also import other style files */

html, body{
	margin: 10px;
	background-color: var(--surface-b);
	font-family: var(--font-family);
}
.text-layout {
	color: var(--text-color);
}

.p-grid {

	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.p-col-6 {
	box-sizing: border-box;
	padding: 20px;

	flex: 1 0 50%; 
	margin-bottom: 5px;
	max-width: 50%;
}